.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sunset-fonts {
    width: 1000px;
    height: 900px;
    background-image: url(/pictures/image1.jpg);
    background-position-x: center;
    background-position-y: -800px;
    background-repeat: no-repeat;
    position: relative;


    .sunset-one {
        width: 60%;
        height: 170px; 
        background-image: url(/pictures/image2.jpg);
        background-size: 100% 100%;
        position: relative;
        top:50px;
        left:50px;
    }

    .sunset-two {
        width: 60%;
        height: 170px;
        background-image: url(/pictures/image3.jpg);
        background-size: 100% 100%;
        position: relative;
        top: 100px;
        left: 50px;
    }

    button {
        width: 200px;
        height: 50px;
        background-image: url(/pictures/image-sun.jpg);
        background-size: 100% 100%;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: fangsong;
        color: black;
        border: 3px solid black;
        border-radius: 15px;
        position: absolute;
        right: 50px;
        bottom: 25px;
    }

    .sunset-one:hover, .sunset-two:hover, button:hover {
        cursor: pointer;
        border: 3px solid #ac64ed;
        color: #ac64ed;        
        box-sizing: border-box;
    }

     @media screen and (max-width: 800px) {
        .sunset-one, .sunset-two {
            width: 84%;
        }

        button {
            width: 100px;
        }

        }

     @media  screen and (max-width: 600px) {

        .sunset-one, .sunset-two {
            width:100%;
            position: static;
        }
         
        button {
            width:100%;
            bottom: 0px;
            right: initial;
        }
     }

} 
